body{
    margin: 0px 0px 0px 0px;
   
}
.nav{
    border: gray 2px;
    background: #ECEEDF;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.addon{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10vw;
    margin: 1% 3% 1% 1%;
}
.icon-head{
   display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 0% 0% 1%;   

}
.nav a{
    color: #537D5D !important;
}
html{
    background: #5D8736;
}
.nav img{
    height: 60px;
    width: 60px;
}
.headd{
    font-family: curlz MT;
    color: rgb(3, 3, 3);
    font-weight: 700;
    font-size: 40px
}
.title{
    font-family: curlz MT;
    color: #526E48;
    font-weight: 800;
    font-size: 60px;
}

.bg{
    background: #94be6c;
}
.recipes{
    margin: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.recipe{
    padding: 1% 1% 1% 1%;
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 2% 0% 0% 0%;
    transition: all 2s ease;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 0%;
}
.desc{
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 2%;
    gap: 5% !important;
}
.desc img, .expand img{
    height: 20px;
    width: 20px;
   
}
.hide{
    display: none !important;
}
.time-show{
    transition: all 0.2s ease;
    background: rgb(11, 189, 11);
    color: white !important;
}
.cooking-btn{
    background: black !important;
}
.reset{
    transition: opacity 0.3s ease-in-out;
    background: black !important;
}
.red{
    background-color: red !important;
}
.arrows{
    display: flex;
    flex-direction: row;
}
.arrows p{
    font-size:large;
    font-weight: 500;
}
.expand {
    transition: max-height 2s ease 0s, opacity 1s ease-in-out;
    height: fit-content;
    opacity: 1;
}
.expand img{
    transition: all 0.3s ease;
    
}
.food{
    border-radius: 25px;
}
.active{
    transform: rotate(90deg);
}
.search-icon img{
    height: 20px;
    width: 20px;
}
ul{
    font-weight: 500;

}
li{
    font-weight: 400 !important;
}